#container {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
	overflow: hidden;
}

#wisibelContainer {
	position: absolute;
	top: 0;
	right: 200px;
	bottom: 0;
	left: 0;
}

#menuContainer {
	background-color: gray;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 200px;

	display: flex;
	flex-flow: column nowrap;
	justify-content: stretch;
}

button {
	width: 100%;
	padding: 0.5em;
}